/* <===== Profile Page =====> */
* {
	padding: 0;
	margin: 0;
}

.htmlBody {
	background-color: #6E7889;
	font-family: tahoma, sans-serif;
	color: #E6EBEE;
}

#card {
	background-color: #393B45;
	height: auto;
	width: 350px;
	margin: 2vh auto;
	border-radius: 25px;
	padding-bottom: 1px;
	box-shadow: 2px 2px 5px #4069E2;
}

#cardD {
	background-color: red;
	height: auto;
	width: 350px;
	margin: 2vh auto;
	border-radius: 25px;
	padding-bottom: 1px;
	box-shadow: 2px 2px 5px #4069E2;
}

.h2 {
	color: white;
	text-align: center;
	width: 100%;
	background-color: #E6EBEE;
	border-radius: 25px 25px 0 0;
	color: #393B45;
	padding: 30px 0;
	font-weight: 800;
	margin: 0;
}

.h2D {
	color: red;
	text-align: center;
	width: 100%;
	background-color: #E6EBEE;
	border-radius: 25px 25px 0 0;
	color: #393B45;
	padding: 30px 0;
	font-weight: 800;
	margin: 0;
}


.h3 {
	color: white;
	text-align: center;
	width: 100%;
	color: white;
	padding: 5px 0;
	font-weight: 800;
	margin: 0;
}

.image-crop {
	display: block;
	position: relative;
	background-color: #E6EBEE;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-top: 10px;
	overflow: hidden;
	border-radius: 10%;
	box-shadow: 1px 1px 5px #4069E2;
}

#avatar {
	/*
	display: block;
	
	height: 150px;
	margin-left: -1px;
	*/
	margin: auto;
	height: 150px;
	display: inline;
	width: auto;
}

#bio {
	display: block;
	margin: 30px auto;
	width: 280px;
	height: auto;
}

#bio p {
	color: #E6EBEE;
	font-weight: lighter;
	font-size: 15px;
	text-align: center;
}